services:

  admin:
    build: .
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}
    command: python db_admin.py
    entrypoint: []
    depends_on:
      postgres:
        condition: service_healthy
  postgres:
    image: postgres:18.1-alpine
    container_name: bot-db
    restart: always
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U $${POSTGRES_USER} -d $${POSTGRES_DB}"]
      interval: 10s
      timeout: 5s
      retries: 5

  bot:
    image: ghcr.io/wintobeats-code/telegram_docx_to_pdf_bot:latest
    pull_policy: always
    build: .
    container_name: bot
    restart: always
    depends_on:
      postgres:
        condition: service_healthy
    environment:
      DATABASE_URL: postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres/${POSTGRES_DB}
      BOT_TOKEN: ${BOT_TOKEN}

volumes:
  postgres_data:
